---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";

const allPost = await Astro.glob("../content/tips/*.md");
---

<Layout title="Welcome to Astro.">
	<main>
		<Header title="AstroBuild.tips" />
		<Hero />

		<ul role="list" class="link-card-grid">
			{
				allPost.map((item) => (
					<Card
						date = { item?.frontmatter?.title }
						title = { item?.frontmatter?.pubDate }
						tags = { item?.frontmatter?.tags} 
					/>
				))
			}
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
</style>
